.post-tiny{

}
.post-tiny__item{
  margin-bottom: 30px;
  a{
    text-decoration: none;
  }
  time{
    color: $color-blue;
    margin-bottom: 12px;
    img{
      display: inline-block;
      top: 1px;
      margin-right: 5px;
      position: relative;
    }
  }
  p{
    color: $color-black;
  }
}