$color-white: #fff;
$color-black: #202223;
$color-dark-blue: #003B74;
$color-blue: #0080FF;
$color-orange: #E6A74D;
$color-aqua: #EBF5FF;

$regular: 'Roboto-Regular';
$bold: 'Roboto-Bold';
$black: 'Roboto-Black';