.contacts{
  padding: 35px 0;
  background-color: $color-aqua;
}
.contacts__desc{

}
.contacts__social{
  ul{
    padding: 0;
    margin: 0;
    list-style: none;
    li{
      display: inline-block;
      margin-right: 30px;
    }
  }
}